* {
    font-family: Comic Neue;
}

body {
    background-color: #292b2f;
}

main {
    display: flex;
      justify-content: center;
      align-items: center;
}

header {
    text-align: center;
    color: white;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}